#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_build:
	dh_auto_build
	# build for smoke test not used see install
	node -pe 'JSON.stringify(require("constants"), null, "  ")' > constants.json

override_dh_auto_install:
	dh_auto_install
	# this file is trigger created
	! test -f debian/node-constants-browserify/usr/lib/nodejs/constants-browserify/constants.json

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS) $(DEB_BUILD_PROFILES)))
	dh_auto_test
	node test.js
else
	@echo '**********************************************************'
	@echo 'Skip test suite                                           '
	@echo '**********************************************************'
endif
